.hero-gradient {
    /* custom hero gradient used on home page */
    background: linear-gradient(90deg, #3c59a7 0%, #76898f 100%); /* from-[#3c59a7] to-[#76898f] */
}
.image-zoom {
    transition: transform 0.3s ease;
}
.image-zoom:hover {
    transform: scale(1.1);
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.thumbnail {
    transition: all 0.3s ease;
}
.thumbnail:hover {
    transform: scale(1.05);
}
.thumbnail.active {
    border: 2px solid oklch(var(--p));
}
